HELP.md
dist/
!dist/**.sh
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/src/main/resources/properties.properties
/src/main/resources/properties.rj.properties
/src/main/resources/properties.lj.properties
